In [1]:
import pandas as pd
from pandas import DataFrame

### Merge data

In [2]:
df_component = pd.read_csv('data/loinc-component.csv')
df_short_name = pd.read_csv('data/loinc-short-name.csv')
df_long_name = pd.read_csv('data/loinc-long-name.csv')
df_system = pd.read_csv('data/loinc-system.csv')
df_class = pd.read_csv('data/loinc-class.csv')
df_related = pd.read_csv('data/loinc-related-name.csv')

In [3]:
def normalize_columns(df, label_col, text_col):
    df_normalized = DataFrame()
    df_normalized['LABEL'] = df[label_col]
    df_normalized['TEXT'] = df[text_col]
    df_normalized['SOURCE'] = text_col
    return df_normalized

In [4]:
df_component = normalize_columns(df_component, 'LOINC_NUM', 'COMPONENT')
df_short_name = normalize_columns(df_short_name, 'LOINC_NUM', 'SHORTNAME')
df_long_name = normalize_columns(df_long_name, 'LOINC_NUM', 'LONG_COMMON_NAME')
df_system = normalize_columns(df_system, 'LOINC_NUM', 'SYSTEM')
df_class = normalize_columns(df_class, 'LOINC_NUM', 'CLASS')
df_related = normalize_columns(df_related, 'LOINC_NUM', 'RELATED_NAME')

In [5]:
df_merged = pd.concat([df_component, df_short_name, df_long_name,
                       df_system,df_class,df_related], ignore_index=True)

In [6]:
df_merged.shape

(2208313, 3)

In [7]:
df_merged.sample(10)

           LABEL           TEXT        SOURCE
1920621  73260-2       Antibody  RELATED_NAME
1433570  50006-6    Qualitative  RELATED_NAME
2035629  78421-5  Point in time  RELATED_NAME
2059117   7944-2         Screen  RELATED_NAME
1331131  46309-1         Extr-R  RELATED_NAME
2174992  85095-8          Antby  RELATED_NAME
886116   28256-6           Qual  RELATED_NAME
835126   26091-9       Findings  RELATED_NAME
311617   66077-9       ^Patient        SYSTEM
1132631  38048-5         Extr-R  RELATED_NAME

### Select data (optional)

### Normalization

Let's not be agressive. Only upper case to lower case.

Some observations:

* 2-Amino-4,6-pteridinediol
* Ser/Plas
* [Moles/volume]
* {Setting}
* Pulmonary vein - right upper 
* Multisection^W contrast IV
* Bacteria identified^^^2
* ^Patient
* Blood flow.diastole.max
* Upper extremity>Upper arm
* A+B Ag

In [10]:
df_merged['TEXT_NORMED'] = df_merged['TEXT'].apply(lambda x: str(x).lower().strip())

### Shuffle

In [12]:
from sklearn.utils import shuffle
df = shuffle(df_merged)

### Save

In [13]:
df.to_csv('data/loinc-labeled-text-all.csv', index=False)